body {
    background-color: #212121;
}

a {
    text-decoration: none;
}

h1, #dollor {
    color: brown;
}

#para {
    border: 4px solid blueviolet;
    padding: 20px;
    margin: 4px;
    width: 250px;
    border-radius: 15px;
    box-sizing: border-box;
    /* background-image: url('https://avatars.githubusercontent.com/u/39647664?s=400&u=714440d893a7d442f89449005c2b7de4d6dcbc62&v=4');
    background-repeat: no-repeat;
    background-position: center center; */
}